.products__container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.productItem {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 720px)
{
  .products__container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}