.products__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productItem {
  width: 100px;
  height: 100px;
}

.products__pagination {
  max-width: 100%;
}

.MuiToolbar-gutters {
  padding-left: 0 !important;
}

@media screen and (min-width: 720px)
{
  .products__container {
    width: 100%;
    max-width: calc( 345px * 4);
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 25px;
  }

  .MuiToolbar-gutters {
    padding-left: 16px;
  }
}